#navbar
{
	position: sticky;
	top: -55px;
	left: 0;
	width: 100%;
	z-index: 100;
	transition: top .5s ease-in-out;
}

#navbar:hover
{
	top: 0;
}

.navbar-nav > li > .dropdown-menu {     background-color: #343a40;  }
.navbar-nav > li > .dropdown-menu a{   color: #fff;  }
.navbar-nav > li > .dropdown-menu a:hover{   background-color: #4d5158 !important  }

.justify-content-center > *
{
	text-align: center;
}

html, body
{
    width: 100%;
	overflow-x: hidden;
}

body
{
	overflow-y: scroll;
}

.invis
{
     display: none !important;
}

.text-popstar
{
	color: #704373;
}

.content-container
{
    margin: 0 15px;
}

.card-fixed-s
{
    height: 200px;
    width: 150px;
}

.card-fixed-s img
{
    max-width: 120px;
    max-height: 90px;
}

.card
{
	margin-bottom: 10px;
}

.card-fixed-s ul li,
.card-fixed-m ul li,
.card-fixed-l ul li
{
	text-align: left;
}

.card-fixed-s .card-body,
.card-fixed-m .card-body,
.card-fixed-l .card-body
{
    position: relative;
}
.card-fixed-s img,
.card-fixed-m img,
.card-fixed-l img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#app
{
    min-height: calc(100% - 70px);
    margin: 0 0 70px 0;
    padding: 0;
}

footer
{
	/*background: #2c2c2c;*/
    height: 65px;
    margin: -65px 0 0 0;
    padding: 1px 0 0 0;
}

footer ul
{
	width: 100%;
	margin: 5px 0;
	padding: 0;
	text-align: center;
}

footer li
{
	display: inline-block;
	margin: auto;
}

footer li,
footer li a
{
    color: #eeeeee;
	font-family: verdana;
	font-size: 14px;
}

footer li:not(:last-child):after
{
	content: ' | ';
}

footer .copyright
{
	margin: auto;
	text-align: center;
}

footer .copyright
{
	color: #eeeeee;
	font-family: verdana;
	font-size: 14px;
}


@media only screen and (min-width: 768px) { .ul-col-2 {columns: 2;} }

.justify-left
{
  	justify-content: left;
}

.justify-right
{
  	justify-content: right;
}

.justify-center
{
  	justify-content: center;
}

ul.pagination li.page-item a.page-link
{
	background-color: #6c757d; /* secondary */
	border-color: #4c555d;
	color: #eeeeee;	/* light */
}

ul.pagination li.page-item:not(.disabled):not(.active) a.page-link:hover
{
	border-color: #6c757d;
	color: #f8f9fa;	/* light */
}

ul.pagination li.page-item.disabled a.page-link
{
	color: #343a40;	/* dark */
}

ul.pagination li.page-item.active a.page-link
{
	color: #fff;	/* primary */
	border-color: #fff;	/* primary */
}

.no_js
{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.no_js span
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #f00;
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#paymet .card
{
	transition: transform .5s;
}

#paymet .card:hover
{
	transform: scale(1.06);
}

.nosel
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.error{
  background-color: #F2DEDE;
  color: #A94442;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 2px auto;
}

.bordershadow {
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	}
.bordershadow:hover {
	  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(255, 255, 0, 1);
	  filter: invert(1);
	}