html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  /* overflow-x: hidden; */
  /* box-sizing: border-box; */
}

body {
  /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  /* position: relative; */
  color: #eeeeee;
  padding: 1px 0 0 0;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  margin-top: auto;
  height: 60px;
  /* bottom: 0;
	  width: 100%;
	  margin: 100px 0 0 0; */
}

#navbar {
  position: sticky;
  top: -55px;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: top 0.5s ease-in-out;
}

#navbar:hover {
  top: 0;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #343a40;
}
.navbar-nav > li > .dropdown-menu a {
  color: #fff;
}
.navbar-nav > li > .dropdown-menu a:hover {
  background-color: #4d5158 !important;
}

.justify-content-center > * {
  text-align: center;
}

.no_js {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.no_js span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #f00;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.error {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 2px auto;
}

input.valid:focus,
textarea.valid:focus {
  border-color: #48d848;
  box-shadow: 0 0 0 3px rgba(85, 255, 0, 0.66);
}

input.invalid:focus,
textarea.invalid:focus {
  border-color: #d84848;
  box-shadow: 0 0 0 3px rgb(244, 4, 4);
}

.for-check-input,
.for-check-label {
  margin: 0;
  padding: 0;
}

.social-icon {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  display: inline-block;
  margin: 0 8px;
  transition: all 0.3s ease;
}

.social-icon:hover {
  transform: translateY(-3px);
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .ul-col-2 {
    columns: 2;
  }
}

.justify-left {
  justify-content: left;
}

.justify-right {
  justify-content: right;
}

.justify-center {
  justify-content: center;
}
