APP_TIMEZONE="UTC"
DB_HOST="db"
DB_USER="root"
DB_PASS="root_password"
DB_NAME="ecommerce"
SMTP_ACCOUNT=
SMTP_PWD=
SMTP_RECIPIENTS=
SMTP_NAME=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
STRIPE_SECRET_KEY=